:root {
  /* Material Design 3 color schemes */
  --md-sys-source: #0054e9;
  
  --md-sys-primary: light-dark(#0051e1, #b5c4ff);
  --md-sys-primary-rgb: light-dark(rgb(0, 81, 225), rgb(181, 196, 255));
  --md-sys-on-primary: light-dark(#ffffff, #00297b);
  --md-sys-on-primary-rgb: light-dark(rgb(255, 255, 255), rgb(0, 41, 123));
  --md-sys-primary-container: light-dark(#dce1ff, #003cac);
  --md-sys-primary-container-rgb: light-dark(rgb(220, 225, 255), rgb(0, 60, 172));
  --md-sys-on-primary-container: light-dark(#00164d, #dce1ff);
  --md-sys-on-primary-container-rgb: light-dark(rgb(0, 22, 77), rgb(220, 225, 255));
  --md-sys-secondary: light-dark(#595e72, #c1c5dd);
  --md-sys-secondary-rgb: light-dark(rgb(89, 94, 114), rgb(193, 197, 221));
  --md-sys-on-secondary: light-dark(#ffffff, #2b3042);
  --md-sys-on-secondary-rgb: light-dark(rgb(255, 255, 255), rgb(43, 48, 66));
  --md-sys-secondary-container: light-dark(#dde1f9, #414659);
  --md-sys-secondary-container-rgb: light-dark(rgb(221, 225, 249), rgb(65, 70, 89));
  --md-sys-on-secondary-container: light-dark(#161b2c, #dde1f9);
  --md-sys-on-secondary-container-rgb: light-dark(rgb(22, 27, 44), rgb(221, 225, 249));
  --md-sys-tertiary: light-dark(#745470, #e3badb);
  --md-sys-tertiary-rgb: light-dark(rgb(116, 84, 112), rgb(227, 186, 219));
  --md-sys-on-tertiary: light-dark(#ffffff, #432740);
  --md-sys-on-tertiary-rgb: light-dark(rgb(255, 255, 255), rgb(67, 39, 64));
  --md-sys-tertiary-container: light-dark(#ffd7f7, #5b3d57);
  --md-sys-tertiary-container-rgb: light-dark(rgb(255, 215, 247), rgb(91, 61, 87));
  --md-sys-on-tertiary-container: light-dark(#2b122a, #ffd7f7);
  --md-sys-on-tertiary-container-rgb: light-dark(rgb(43, 18, 42), rgb(255, 215, 247));
  --md-sys-error: light-dark(#ba1a1a, #ffb4ab);
  --md-sys-error-rgb: light-dark(rgb(186, 26, 26), rgb(255, 180, 171));
  --md-sys-on-error: light-dark(#ffffff, #690005);
  --md-sys-on-error-rgb: light-dark(rgb(255, 255, 255), rgb(105, 0, 5));
  --md-sys-error-container: light-dark(#ffdad6, #93000a);
  --md-sys-error-container-rgb: light-dark(rgb(255, 218, 214), rgb(147, 0, 10));
  --md-sys-on-error-container: light-dark(#410002, #ffb4ab);
  --md-sys-on-error-container-rgb: light-dark(rgb(65, 0, 2), rgb(255, 180, 171));
  --md-sys-background: light-dark(#fefbff, #1b1b1f);
  --md-sys-background-rgb: light-dark(rgb(254, 251, 255), rgb(27, 27, 31));
  --md-sys-on-background: light-dark(#1b1b1f, #e4e2e6);
  --md-sys-on-background-rgb: light-dark(rgb(27, 27, 31), rgb(228, 226, 230));
  --md-sys-surface: light-dark(#fefbff, #1b1b1f);
  --md-sys-surface-rgb: light-dark(rgb(254, 251, 255), rgb(27, 27, 31));
  --md-sys-on-surface: light-dark(#1b1b1f, #e4e2e6);
  --md-sys-on-surface-rgb: light-dark(rgb(27, 27, 31), rgb(228, 226, 230));
  --md-sys-surface-variant: light-dark(#e2e1ec, #45464f);
  --md-sys-surface-variant-rgb: light-dark(rgb(226, 225, 236), rgb(69, 70, 79));
  --md-sys-on-surface-variant: light-dark(#45464f, #c6c6d0);
  --md-sys-on-surface-variant-rgb: light-dark(rgb(69, 70, 79), rgb(198, 198, 208));
  --md-sys-outline: light-dark(#767680, #8f909a);
  --md-sys-outline-rgb: light-dark(rgb(118, 118, 128), rgb(143, 144, 154));
  --md-sys-outline-variant: light-dark(#c6c6d0, #45464f);
  --md-sys-outline-variant-rgb: light-dark(rgb(198, 198, 208), rgb(69, 70, 79));
  --md-sys-shadow: light-dark(#000000, #000000);
  --md-sys-shadow-rgb: light-dark(rgb(0, 0, 0), rgb(0, 0, 0));
  --md-sys-scrim: light-dark(#000000, #000000);
  --md-sys-scrim-rgb: light-dark(rgb(0, 0, 0), rgb(0, 0, 0));
  --md-sys-inverse-surface: light-dark(#303034, #e4e2e6);
  --md-sys-inverse-surface-rgb: light-dark(rgb(48, 48, 52), rgb(228, 226, 230));
  --md-sys-inverse-on-surface: light-dark(#f2f0f4, #303034);
  --md-sys-inverse-on-surface-rgb: light-dark(rgb(242, 240, 244), rgb(48, 48, 52));
  --md-sys-inverse-primary: light-dark(#b5c4ff, #0051e1);
  --md-sys-inverse-primary-rgb: light-dark(rgb(181, 196, 255), rgb(0, 81, 225));
  --md-sys-surface-container-lowest: light-dark(#ffffff, #0d0e11);
  --md-sys-surface-container-lowest-rgb: light-dark(rgb(255, 255, 255), rgb(13, 14, 17));
  --md-sys-surface-container-low: light-dark(#f5f3f7, #1b1b1f);
  --md-sys-surface-container-low-rgb: light-dark(rgb(245, 243, 247), rgb(27, 27, 31));
  --md-sys-surface-container: light-dark(#efedf1, #1f1f23);
  --md-sys-surface-container-rgb: light-dark(rgb(239, 237, 241), rgb(31, 31, 35));
  --md-sys-surface-container-high: light-dark(#eae7ec, #292a2d);
  --md-sys-surface-container-high-rgb: light-dark(rgb(234, 231, 236), rgb(41, 42, 45));
  --md-sys-surface-container-highest: light-dark(#e4e2e6, #343438);
  --md-sys-surface-container-highest-rgb: light-dark(rgb(228, 226, 230), rgb(52, 52, 56));
  
  /* Custom color "success" */
  --md-custom-success-color: light-dark(#006d3d, #00e385);
  --md-custom-success-color-rgb: light-dark(rgb(0, 109, 61), rgb(0, 227, 133));
  --md-custom-success-on-color: light-dark(#ffffff, #00391d);
  --md-custom-success-on-color-rgb: light-dark(rgb(255, 255, 255), rgb(0, 57, 29));
  --md-custom-success-color-container: light-dark(#5affa2, #00522c);
  --md-custom-success-color-container-rgb: light-dark(rgb(90, 255, 162), rgb(0, 82, 44));
  --md-custom-success-on-color-container: light-dark(#00210f, #5affa2);
  --md-custom-success-on-color-container-rgb: light-dark(rgb(0, 33, 15), rgb(90, 255, 162));
  
  /* Custom color "warning" */
  --md-custom-warning-color: light-dark(#4d6706, #b2d26b);
  --md-custom-warning-color-rgb: light-dark(rgb(77, 103, 6), rgb(178, 210, 107));
  --md-custom-warning-on-color: light-dark(#ffffff, #263500);
  --md-custom-warning-on-color-rgb: light-dark(rgb(255, 255, 255), rgb(38, 53, 0));
  --md-custom-warning-color-container: light-dark(#ceef84, #394e00);
  --md-custom-warning-color-container-rgb: light-dark(rgb(206, 239, 132), rgb(57, 78, 0));
  --md-custom-warning-on-color-container: light-dark(#151f00, #ceef84);
  --md-custom-warning-on-color-container-rgb: light-dark(rgb(21, 31, 0), rgb(206, 239, 132));
  
  /* Palette tone references */
  
  --md-ref-palette-primary100: #ffffff;
  --md-ref-palette-primary99: #fefbff;
  --md-ref-palette-primary95: #eff0ff;
  --md-ref-palette-primary90: #dce1ff;
  --md-ref-palette-primary85: #c8d3ff;
  --md-ref-palette-primary80: #b5c4ff;
  --md-ref-palette-primary75: #a1b6ff;
  --md-ref-palette-primary70: #8ea7ff;
  --md-ref-palette-primary65: #7999ff;
  --md-ref-palette-primary60: #648aff;
  --md-ref-palette-primary55: #4d7bff;
  --md-ref-palette-primary50: #316bff;
  --md-ref-palette-primary45: #1b5df2;
  --md-ref-palette-primary40: #0051e1;
  --md-ref-palette-primary35: #0046c6;
  --md-ref-palette-primary30: #003cac;
  --md-ref-palette-primary25: #003293;
  --md-ref-palette-primary20: #00297b;
  --md-ref-palette-primary15: #001f64;
  --md-ref-palette-primary10: #00164d;
  --md-ref-palette-primary5: #000d36;
  --md-ref-palette-primary0: #000000;
  
  --md-ref-palette-secondary100: #ffffff;
  --md-ref-palette-secondary99: #fefbff;
  --md-ref-palette-secondary95: #eff0ff;
  --md-ref-palette-secondary90: #dde1f9;
  --md-ref-palette-secondary85: #cfd3eb;
  --md-ref-palette-secondary80: #c1c5dd;
  --md-ref-palette-secondary75: #b4b8cf;
  --md-ref-palette-secondary70: #a6aac1;
  --md-ref-palette-secondary65: #999db3;
  --md-ref-palette-secondary60: #8b90a5;
  --md-ref-palette-secondary55: #7e8398;
  --md-ref-palette-secondary50: #72768b;
  --md-ref-palette-secondary45: #656a7e;
  --md-ref-palette-secondary40: #595e72;
  --md-ref-palette-secondary35: #4d5265;
  --md-ref-palette-secondary30: #414659;
  --md-ref-palette-secondary25: #363b4d;
  --md-ref-palette-secondary20: #2b3042;
  --md-ref-palette-secondary15: #202537;
  --md-ref-palette-secondary10: #161b2c;
  --md-ref-palette-secondary5: #0b1021;
  --md-ref-palette-secondary0: #000000;
  
  --md-ref-palette-tertiary100: #ffffff;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary95: #ffebf8;
  --md-ref-palette-tertiary90: #ffd7f7;
  --md-ref-palette-tertiary85: #f1c8e9;
  --md-ref-palette-tertiary80: #e3badb;
  --md-ref-palette-tertiary75: #d4adcd;
  --md-ref-palette-tertiary70: #c6a0bf;
  --md-ref-palette-tertiary65: #b892b1;
  --md-ref-palette-tertiary60: #aa86a4;
  --md-ref-palette-tertiary55: #9c7996;
  --md-ref-palette-tertiary50: #8f6c89;
  --md-ref-palette-tertiary45: #81607c;
  --md-ref-palette-tertiary40: #745470;
  --md-ref-palette-tertiary35: #674863;
  --md-ref-palette-tertiary30: #5b3d57;
  --md-ref-palette-tertiary25: #4f324c;
  --md-ref-palette-tertiary20: #432740;
  --md-ref-palette-tertiary15: #371c35;
  --md-ref-palette-tertiary10: #2b122a;
  --md-ref-palette-tertiary5: #1f071f;
  --md-ref-palette-tertiary0: #000000;
  
  --md-ref-palette-neutral100: #ffffff;
  --md-ref-palette-neutral99: #fefbff;
  --md-ref-palette-neutral95: #f2f0f4;
  --md-ref-palette-neutral90: #e4e2e6;
  --md-ref-palette-neutral85: #d6d3d8;
  --md-ref-palette-neutral80: #c8c6ca;
  --md-ref-palette-neutral75: #bab8bc;
  --md-ref-palette-neutral70: #acaaaf;
  --md-ref-palette-neutral65: #9e9da1;
  --md-ref-palette-neutral60: #919094;
  --md-ref-palette-neutral55: #848387;
  --md-ref-palette-neutral50: #77767a;
  --md-ref-palette-neutral45: #6b6a6e;
  --md-ref-palette-neutral40: #5e5e62;
  --md-ref-palette-neutral35: #525256;
  --md-ref-palette-neutral30: #46464a;
  --md-ref-palette-neutral25: #3b3b3f;
  --md-ref-palette-neutral20: #303034;
  --md-ref-palette-neutral15: #252529;
  --md-ref-palette-neutral10: #1b1b1f;
  --md-ref-palette-neutral5: #101114;
  --md-ref-palette-neutral0: #000000;
  
  --md-ref-palette-neutral-variant100: #ffffff;
  --md-ref-palette-neutral-variant99: #fefbff;
  --md-ref-palette-neutral-variant95: #f0f0fa;
  --md-ref-palette-neutral-variant90: #e2e1ec;
  --md-ref-palette-neutral-variant85: #d4d3de;
  --md-ref-palette-neutral-variant80: #c6c6d0;
  --md-ref-palette-neutral-variant75: #b8b8c2;
  --md-ref-palette-neutral-variant70: #aaaab4;
  --md-ref-palette-neutral-variant65: #9d9da7;
  --md-ref-palette-neutral-variant60: #8f909a;
  --md-ref-palette-neutral-variant55: #82838c;
  --md-ref-palette-neutral-variant50: #767680;
  --md-ref-palette-neutral-variant45: #696a73;
  --md-ref-palette-neutral-variant40: #5d5e67;
  --md-ref-palette-neutral-variant35: #51525b;
  --md-ref-palette-neutral-variant30: #45464f;
  --md-ref-palette-neutral-variant25: #3a3b43;
  --md-ref-palette-neutral-variant20: #2e3038;
  --md-ref-palette-neutral-variant15: #24252d;
  --md-ref-palette-neutral-variant10: #1a1b23;
  --md-ref-palette-neutral-variant5: #0f1118;
  --md-ref-palette-neutral-variant0: #000000;
  
  --md-ref-palette-error100: #ffffff;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error85: #ffc7c0;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error75: #ff9f94;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error65: #ff7164;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error55: #f0443b;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error45: #cc2925;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error15: #540003;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error0: #000000;
}
