:root {
  /* Material Design 3 color schemes */
  --md-sys-source: #3880ff;
  
  --md-sys-primary: light-dark(#0059c8, #afc6ff);
  --md-sys-primary-rgb: light-dark(rgb(0, 89, 200), rgb(175, 198, 255));
  --md-sys-on-primary: light-dark(#ffffff, #002d6d);
  --md-sys-on-primary-rgb: light-dark(rgb(255, 255, 255), rgb(0, 45, 109));
  --md-sys-primary-container: light-dark(#d9e2ff, #004299);
  --md-sys-primary-container-rgb: light-dark(rgb(217, 226, 255), rgb(0, 66, 153));
  --md-sys-on-primary-container: light-dark(#001944, #d9e2ff);
  --md-sys-on-primary-container-rgb: light-dark(rgb(0, 25, 68), rgb(217, 226, 255));
  --md-sys-secondary: light-dark(#575e71, #bfc6dc);
  --md-sys-secondary-rgb: light-dark(rgb(87, 94, 113), rgb(191, 198, 220));
  --md-sys-on-secondary: light-dark(#ffffff, #293042);
  --md-sys-on-secondary-rgb: light-dark(rgb(255, 255, 255), rgb(41, 48, 66));
  --md-sys-secondary-container: light-dark(#dbe2f9, #404659);
  --md-sys-secondary-container-rgb: light-dark(rgb(219, 226, 249), rgb(64, 70, 89));
  --md-sys-on-secondary-container: light-dark(#141b2c, #dbe2f9);
  --md-sys-on-secondary-container-rgb: light-dark(rgb(20, 27, 44), rgb(219, 226, 249));
  --md-sys-tertiary: light-dark(#725572, #dfbbde);
  --md-sys-tertiary-rgb: light-dark(rgb(114, 85, 114), rgb(223, 187, 222));
  --md-sys-on-tertiary: light-dark(#ffffff, #412742);
  --md-sys-on-tertiary-rgb: light-dark(rgb(255, 255, 255), rgb(65, 39, 66));
  --md-sys-tertiary-container: light-dark(#fdd7fb, #593e5a);
  --md-sys-tertiary-container-rgb: light-dark(rgb(253, 215, 251), rgb(89, 62, 90));
  --md-sys-on-tertiary-container: light-dark(#2a132c, #fdd7fb);
  --md-sys-on-tertiary-container-rgb: light-dark(rgb(42, 19, 44), rgb(253, 215, 251));
  --md-sys-error: light-dark(#ba1a1a, #ffb4ab);
  --md-sys-error-rgb: light-dark(rgb(186, 26, 26), rgb(255, 180, 171));
  --md-sys-on-error: light-dark(#ffffff, #690005);
  --md-sys-on-error-rgb: light-dark(rgb(255, 255, 255), rgb(105, 0, 5));
  --md-sys-error-container: light-dark(#ffdad6, #93000a);
  --md-sys-error-container-rgb: light-dark(rgb(255, 218, 214), rgb(147, 0, 10));
  --md-sys-on-error-container: light-dark(#410002, #ffb4ab);
  --md-sys-on-error-container-rgb: light-dark(rgb(65, 0, 2), rgb(255, 180, 171));
  --md-sys-background: light-dark(#fefbff, #1b1b1f);
  --md-sys-background-rgb: light-dark(rgb(254, 251, 255), rgb(27, 27, 31));
  --md-sys-on-background: light-dark(#1b1b1f, #e3e2e6);
  --md-sys-on-background-rgb: light-dark(rgb(27, 27, 31), rgb(227, 226, 230));
  --md-sys-surface: light-dark(#fefbff, #1b1b1f);
  --md-sys-surface-rgb: light-dark(rgb(254, 251, 255), rgb(27, 27, 31));
  --md-sys-on-surface: light-dark(#1b1b1f, #e3e2e6);
  --md-sys-on-surface-rgb: light-dark(rgb(27, 27, 31), rgb(227, 226, 230));
  --md-sys-surface-variant: light-dark(#e1e2ec, #44464f);
  --md-sys-surface-variant-rgb: light-dark(rgb(225, 226, 236), rgb(68, 70, 79));
  --md-sys-on-surface-variant: light-dark(#44464f, #c5c6d0);
  --md-sys-on-surface-variant-rgb: light-dark(rgb(68, 70, 79), rgb(197, 198, 208));
  --md-sys-outline: light-dark(#757780, #8f9099);
  --md-sys-outline-rgb: light-dark(rgb(117, 119, 128), rgb(143, 144, 153));
  --md-sys-outline-variant: light-dark(#c5c6d0, #44464f);
  --md-sys-outline-variant-rgb: light-dark(rgb(197, 198, 208), rgb(68, 70, 79));
  --md-sys-shadow: light-dark(#000000, #000000);
  --md-sys-shadow-rgb: light-dark(rgb(0, 0, 0), rgb(0, 0, 0));
  --md-sys-scrim: light-dark(#000000, #000000);
  --md-sys-scrim-rgb: light-dark(rgb(0, 0, 0), rgb(0, 0, 0));
  --md-sys-inverse-surface: light-dark(#303034, #e3e2e6);
  --md-sys-inverse-surface-rgb: light-dark(rgb(48, 48, 52), rgb(227, 226, 230));
  --md-sys-inverse-on-surface: light-dark(#f2f0f4, #303034);
  --md-sys-inverse-on-surface-rgb: light-dark(rgb(242, 240, 244), rgb(48, 48, 52));
  --md-sys-inverse-primary: light-dark(#afc6ff, #0059c8);
  --md-sys-inverse-primary-rgb: light-dark(rgb(175, 198, 255), rgb(0, 89, 200));
  --md-sys-surface-container-lowest: light-dark(#ffffff, #0d0e11);
  --md-sys-surface-container-lowest-rgb: light-dark(rgb(255, 255, 255), rgb(13, 14, 17));
  --md-sys-surface-container-low: light-dark(#f5f3f7, #1b1b1f);
  --md-sys-surface-container-low-rgb: light-dark(rgb(245, 243, 247), rgb(27, 27, 31));
  --md-sys-surface-container: light-dark(#efedf1, #1f1f23);
  --md-sys-surface-container-rgb: light-dark(rgb(239, 237, 241), rgb(31, 31, 35));
  --md-sys-surface-container-high: light-dark(#e9e7ec, #292a2d);
  --md-sys-surface-container-high-rgb: light-dark(rgb(233, 231, 236), rgb(41, 42, 45));
  --md-sys-surface-container-highest: light-dark(#e3e2e6, #343438);
  --md-sys-surface-container-highest-rgb: light-dark(rgb(227, 226, 230), rgb(52, 52, 56));
  
  /* Custom color "success" */
  --md-custom-success-color: light-dark(#006d3d, #00e385);
  --md-custom-success-color-rgb: light-dark(rgb(0, 109, 61), rgb(0, 227, 133));
  --md-custom-success-on-color: light-dark(#ffffff, #00391d);
  --md-custom-success-on-color-rgb: light-dark(rgb(255, 255, 255), rgb(0, 57, 29));
  --md-custom-success-color-container: light-dark(#5affa2, #00522c);
  --md-custom-success-color-container-rgb: light-dark(rgb(90, 255, 162), rgb(0, 82, 44));
  --md-custom-success-on-color-container: light-dark(#00210f, #5affa2);
  --md-custom-success-on-color-container-rgb: light-dark(rgb(0, 33, 15), rgb(90, 255, 162));
  
  /* Custom color "warning" */
  --md-custom-warning-color: light-dark(#4d6706, #b2d26b);
  --md-custom-warning-color-rgb: light-dark(rgb(77, 103, 6), rgb(178, 210, 107));
  --md-custom-warning-on-color: light-dark(#ffffff, #263500);
  --md-custom-warning-on-color-rgb: light-dark(rgb(255, 255, 255), rgb(38, 53, 0));
  --md-custom-warning-color-container: light-dark(#ceef84, #394e00);
  --md-custom-warning-color-container-rgb: light-dark(rgb(206, 239, 132), rgb(57, 78, 0));
  --md-custom-warning-on-color-container: light-dark(#151f00, #ceef84);
  --md-custom-warning-on-color-container-rgb: light-dark(rgb(21, 31, 0), rgb(206, 239, 132));
  
  /* Palette tone references */
  
  --md-ref-palette-primary100: #ffffff;
  --md-ref-palette-primary99: #fefbff;
  --md-ref-palette-primary95: #edf0ff;
  --md-ref-palette-primary90: #d9e2ff;
  --md-ref-palette-primary85: #c4d4ff;
  --md-ref-palette-primary80: #afc6ff;
  --md-ref-palette-primary75: #9ab8ff;
  --md-ref-palette-primary70: #84aaff;
  --md-ref-palette-primary65: #6d9bff;
  --md-ref-palette-primary60: #538dff;
  --md-ref-palette-primary55: #367efd;
  --md-ref-palette-primary50: #2171f0;
  --md-ref-palette-primary45: #0064e1;
  --md-ref-palette-primary40: #0059c8;
  --md-ref-palette-primary35: #004db1;
  --md-ref-palette-primary30: #004299;
  --md-ref-palette-primary25: #003783;
  --md-ref-palette-primary20: #002d6d;
  --md-ref-palette-primary15: #002358;
  --md-ref-palette-primary10: #001944;
  --md-ref-palette-primary5: #000f2f;
  --md-ref-palette-primary0: #000000;
  
  --md-ref-palette-secondary100: #ffffff;
  --md-ref-palette-secondary99: #fefbff;
  --md-ref-palette-secondary95: #edf0ff;
  --md-ref-palette-secondary90: #dbe2f9;
  --md-ref-palette-secondary85: #cdd4eb;
  --md-ref-palette-secondary80: #bfc6dc;
  --md-ref-palette-secondary75: #b2b8ce;
  --md-ref-palette-secondary70: #a4abc0;
  --md-ref-palette-secondary65: #979db3;
  --md-ref-palette-secondary60: #8a90a5;
  --md-ref-palette-secondary55: #7d8398;
  --md-ref-palette-secondary50: #70778b;
  --md-ref-palette-secondary45: #636a7e;
  --md-ref-palette-secondary40: #575e71;
  --md-ref-palette-secondary35: #4b5265;
  --md-ref-palette-secondary30: #404659;
  --md-ref-palette-secondary25: #343b4d;
  --md-ref-palette-secondary20: #293042;
  --md-ref-palette-secondary15: #1f2636;
  --md-ref-palette-secondary10: #141b2c;
  --md-ref-palette-secondary5: #091121;
  --md-ref-palette-secondary0: #000000;
  
  --md-ref-palette-tertiary100: #ffffff;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary95: #ffebfb;
  --md-ref-palette-tertiary90: #fdd7fb;
  --md-ref-palette-tertiary85: #eec9ec;
  --md-ref-palette-tertiary80: #dfbbde;
  --md-ref-palette-tertiary75: #d1aed0;
  --md-ref-palette-tertiary70: #c3a0c2;
  --md-ref-palette-tertiary65: #b593b4;
  --md-ref-palette-tertiary60: #a786a7;
  --md-ref-palette-tertiary55: #997a99;
  --md-ref-palette-tertiary50: #8c6d8c;
  --md-ref-palette-tertiary45: #7f617f;
  --md-ref-palette-tertiary40: #725572;
  --md-ref-palette-tertiary35: #654966;
  --md-ref-palette-tertiary30: #593e5a;
  --md-ref-palette-tertiary25: #4d324e;
  --md-ref-palette-tertiary20: #412742;
  --md-ref-palette-tertiary15: #351d37;
  --md-ref-palette-tertiary10: #2a132c;
  --md-ref-palette-tertiary5: #1e0821;
  --md-ref-palette-tertiary0: #000000;
  
  --md-ref-palette-neutral100: #ffffff;
  --md-ref-palette-neutral99: #fefbff;
  --md-ref-palette-neutral95: #f2f0f4;
  --md-ref-palette-neutral90: #e3e2e6;
  --md-ref-palette-neutral85: #d5d4d8;
  --md-ref-palette-neutral80: #c7c6ca;
  --md-ref-palette-neutral75: #b9b8bc;
  --md-ref-palette-neutral70: #acabaf;
  --md-ref-palette-neutral65: #9e9da1;
  --md-ref-palette-neutral60: #919094;
  --md-ref-palette-neutral55: #848387;
  --md-ref-palette-neutral50: #77777a;
  --md-ref-palette-neutral45: #6a6a6e;
  --md-ref-palette-neutral40: #5e5e62;
  --md-ref-palette-neutral35: #525256;
  --md-ref-palette-neutral30: #46464a;
  --md-ref-palette-neutral25: #3b3b3f;
  --md-ref-palette-neutral20: #303034;
  --md-ref-palette-neutral15: #252629;
  --md-ref-palette-neutral10: #1b1b1f;
  --md-ref-palette-neutral5: #101114;
  --md-ref-palette-neutral0: #000000;
  
  --md-ref-palette-neutral-variant100: #ffffff;
  --md-ref-palette-neutral-variant99: #fefbff;
  --md-ref-palette-neutral-variant95: #eff0fa;
  --md-ref-palette-neutral-variant90: #e1e2ec;
  --md-ref-palette-neutral-variant85: #d3d4de;
  --md-ref-palette-neutral-variant80: #c5c6d0;
  --md-ref-palette-neutral-variant75: #b7b8c2;
  --md-ref-palette-neutral-variant70: #a9abb4;
  --md-ref-palette-neutral-variant65: #9c9da7;
  --md-ref-palette-neutral-variant60: #8f9099;
  --md-ref-palette-neutral-variant55: #82838c;
  --md-ref-palette-neutral-variant50: #757780;
  --md-ref-palette-neutral-variant45: #686a73;
  --md-ref-palette-neutral-variant40: #5c5e67;
  --md-ref-palette-neutral-variant35: #50525a;
  --md-ref-palette-neutral-variant30: #44464f;
  --md-ref-palette-neutral-variant25: #393b43;
  --md-ref-palette-neutral-variant20: #2e3038;
  --md-ref-palette-neutral-variant15: #23262d;
  --md-ref-palette-neutral-variant10: #191b23;
  --md-ref-palette-neutral-variant5: #0e1118;
  --md-ref-palette-neutral-variant0: #000000;
  
  --md-ref-palette-error100: #ffffff;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error85: #ffc7c0;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error75: #ff9f94;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error65: #ff7164;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error55: #f0443b;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error45: #cc2925;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error15: #540003;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error0: #000000;
}
