:root {
	color-scheme: light dark;

	button,
	a,
	label,
	input {
		-webkit-tap-highlight-color: transparent;
	}
}

:root.prefers-light,
:root.ion-palette-light {
	color-scheme: light;
}

:root.prefers-dark,
:root.ion-palette-dark {
	color-scheme: dark;
}
