:root {
  --ion-safe-area-top: var(--safe-area-inset-top);
  --ion-safe-area-bottom: var(--safe-area-inset-bottom);
  --ion-safe-area-left: var(--safe-area-inset-left);
  --ion-safe-area-right: var(--safe-area-inset-right);
}
