:root {
  color-scheme: light dark;

  --ion-safe-area-top: var(--safe-area-inset-top);
  --ion-safe-area-bottom: var(--safe-area-inset-bottom);
  --ion-safe-area-left: var(--safe-area-inset-left);
  --ion-safe-area-right: var(--safe-area-inset-right);

	button, a, label, input {
		-webkit-tap-highlight-color: transparent;
	}
}

:root.prefers-light,
:root.ion-palette-light {
  color-scheme: light;
}

:root.prefers-dark,
:root.ion-palette-dark {
  color-scheme: dark;
}
